.userBubble{
    align-self: flex-end;
    background-color: var(--color-lightGreen);
    text-align: right;
}

.modelBubble{
    align-self: flex-start;
    background-color: var(--color-darkGreen);
    text-align: left;
}

.userBubble,.modelBubble{
    padding: 5px 15px;
    border-radius: 10px;
    max-width: 80%;
    height:fit-content;
    font-size: 20px;
    word-wrap: break-word;
}

.userBubble > p,.modelBubble > p{
    margin: 0;
}
